<ion-view title="Know More" id="page4">
    <ion-content padding="true" class="has-header grad" style="
        /*background-color: #FEF0E8;
         background-color: rgba(255, 22, 4, 0.129412);
        background-image: url('img/bl-bg.jpg'); */
        ">
        <div class="card">
            <div class="item item-avatar">
                <img ng-if="type == 'announcement'" src="img/announce-64x64.ico">
                <img ng-if="type == 'news'" src="img/news-128x128.png">
                <img ng-if="type == 'todo'" src="img/todo-64x64.ico">
                <h2 class="">{{title}}</h2>
                <p ng-if="startTime">{{startTime}}</p>
                <p ng-if="venue">{{venue}}</p>
            </div>
            <div class="item-body">
                <div id="slider" ng-if="eventImages.length > 1">
                    <figure>
                        <img ng-repeat="image in eventImages" src="{{image}}">
                    </figure>
                </div>
                <div ng-show="{{eventImages.length == 1}}">
                    <img class="full-image" src="{{eventImages[0]}}">
                </div>
                <p>    {{description}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
