<ion-view title="Forgot Password" id="page2">
    <ion-content padding="true" class="has-header">
      <div class="list">
        <br/>
        <br/>
        <span class="input-label" style="white-space:nowrap">Please enter the email id provided during registration</span>
        <br/>
        <input type="email" placeholder="you@company.com" ng-model="credential.email">
        <br/><br/>
        <button class="button button-medium button-balanced" ng-click="forgot()">Register</button>
      </div>
    </ion-content>
</ion-view>