<ion-view title="Vz Epics" id="page1">
    <ion-content padding="true" class="has-header" style="
        background-color:  #FEF0E8;
        /* background-color: rgba(255, 22, 4, 0.129412);
        background-image: url('img/bl-bg.jpg'); */
        ">
        <h2 id="home-heading1" style="color: #F9B295;font-family: sans-serif;">Upcoming Epics</h2>
        <div class="card" ng-if="events.length == 0">
            <div class="item-body">
                <div class="item item-avatar">
                    <img src="img/hi-there.png">
                    <h2>Hi there !!</h2>
                </div>
                <p>There are no upcoming events scheduled. Will keep you posted when we have one. Looking forward for your participation. Thank u.</p>
            </div>
        </div>
        <ion-list ng-repeat="event in events">
            <a ng-click="showDetails(event.id)">
                <ion-item class="item-thumbnail-left" style="background-color: rgba(253, 255, 192, 0.21);">
                    <img ng-if="event.type == 'announcement'" src="img/announce-64x64.ico">
                    <img ng-if="event.type == 'news'" src="img/news-128x128.png">
                    <img ng-if="event.type == 'todo'" src="img/todo-64x64.ico">
                    <h2>{{event.title}}</h2>
                    <div class="item-text-wrap" ng-if="event.startTime">{{event.startTime | date}}</div>
                    <div class="item-text-wrap" ng-if="event.where">{{event.where}}</div>
                    <div class="item-text-wrap">{{event.description | characters: 50}}</div>
                </ion-item>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
