<ion-view title="Register" id="page2">
    <ion-content padding="true" class="has-header">
      <div class="list">
        <br/>
        <br/>
        <span class="input-label" style="white-space:nowrap">Hope you have a company provided em@il</span>
        <br/>
        <input type="email" placeholder="you@company.com" ng-model="login.email">
        <br/><br/>
        <button class="button button-medium button-balanced" ng-click="loginApp()">Register</button>
      </div>
    </ion-content>
</ion-view>