<ion-view title="Continue Login" id="page3">
    <ion-content padding="true" class="has-header">
      <div class="list">
        <br/><br/>
        <span class="input-label" style="white-space:nowrap">Please enter the password received</span>
        <br/>
        <input type="text" placeholder="Password" ng-model="credential.password">
        <br/><br/>
        <button class="button button-medium button-balanced" ng-click="login()">Continue Login</button>
      </div>
    </ion-content>
</ion-view>