@charset "UTF-8";

a {
    color: #0060B6;
    text-decoration: none;
}

    a:hover {
        color: #00A0C6;
        text-decoration: none;
        cursor: pointer;
    }

.list {
    padding-top: 3px;
    padding-bottom: 3px;
}

.bar.bar-assertive {
    border-color: #1976D2;
    background-color: #1976D2;
    background-image: linear-gradient(0deg, #1976D2, #1976D2 50%, transparent 50%);
    color: #fff;
}

.item-content {
    background-color: rgba(253, 255, 192, 0.21);
}

.grad {


background: #ECE9E6; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.top-header {
    height: 107px;
    padding-top: 7px;
    padding-left: 10px;
    margin-top: -10px;
    margin-left: -10px;
    background-color: rgba(255,255,255,0);
}

@keyframes slidy {
    /*0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
*/
    0% {
        left: 0%;
    }

    25% {
        left: 0%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -100%;
    }

    75% {
        left: -200%;
    }

    100% {
        left: 0%;
    }
}

/*body { margin: 0; } */
div#slider {
    overflow: hidden;
    margin: 0px -16px 0px -16px;
}

    div#slider figure img {
        width: 33%;
        float: left;
    }

    div#slider figure {
        position: relative;
        width: 303%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 15s slidy infinite;
    }


/*.card{
      display: -webkit-box !important;
  -webkit-line-clamp: 3   !important;
  -webkit-box-orient: vertical !important;
}*/

.slider-text {
   font-family: sans-serif,'Arial';
    border: solid 1px;
    border-color: #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFE9E9;
    width: 100%;
    height: 180px;
}

.top-header-item-1 {
    width: 100%;
    height: 100%;
    float: left;
    align-self: center;
    border: solid 1px;
    border-color: #ddd;
    background-color: #FFE9E9;
    padding: 10px;
}

.top-header-item-2 {
    width: 50%;
    height: 100%;
    float: left;
    align-self: center;
    border: solid 1px;
    border-color: #ddd;
    background-color: #FFE9E9;
    padding: 10px;
}

.top-header-item-3 {
    width: 33%;
    height: 100%;
    float: left;
    align-self: center;
    border: solid 1px;
    border-color: #ddd;
    background-color: #FFE9E9;
    padding: 10px;
}
.top-header-item-4 {
    width: 25%;
    height: 100%;
    float: left;
    align-self: center;
    border: solid 1px;
    border-color: #ddd;
    background-color: #FFE9E9;
    padding: 10px;
}

.headin-indent{
    border-bottom:solid 1px;
    border-bottom-color:#ddd;
    padding-top:10px;
    color:#ddd;
    margin-right:-10px;
}

.headin-indent1{
    margin-top:-10px;
    margin-bottom:20px;
}

.odd {
    width: auto;
    height: 20%;
    background: rgba(212, 16, 16, 0.82);
    top: 80px;
}

.even {
    width: auto;
    height: 20%;
    background: rgba(0, 0, 255, 0.63);
    top: 80px;
}

.service-wrapper {
    text-align: center;
    -webkit-background-clip: padding-box;
    box-shadow: rgb(153, 153, 153) 0px 0px 3px;
    background: padding-box rgb(255, 255, 255);
    margin: 20px 10px;
    padding: 30px 20px;
    border-radius: 5px;
}

.btn {
    -webkit-background-clip: padding-box;
    cursor: pointer;
    display: inline-block;
    text-transform: none;
    text-align: center;
    text-shadow: none;
    box-shadow: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    border: 1px solid rgb(79, 141, 179);
    border-radius: 2px;
    transition: all 0.25s ease;
    background: none 0px 0px repeat scroll rgb(79, 141, 179);
}

.app-header {
    background: #373737;
    color: #cfcfcf;
    height: 45px;
    padding-left: 30px;
    padding-top: 2px;
    border-bottom: 2px solid #000;
    box-shadow: 0 2px 2px 2px rgba(255,255,255,0.8);
}

.side-menu-left {
    overflow-y : hidden;
}